NODE_ENV=development

PORT=5000
ALLOWED_ORIGIN=http://localhost:3000

POSTGRES_USER=mythicore
POSTGRES_PASSWORD=mythicore
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=mythicore
DATABASE_URL=postgresql://mythicore:mythicore@localhost:5432/mythicore?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=

RAIDERIO_ACCESS_KEY=
